<% include partials/header %>
</head>
<body>
  <main>
    <h1>
      Cool Images.
    </h1>    
    <form action="/search" size="15" >
      <input name="keyword" placeholder="Type Keyword"><br><br>
      <button>Search</button>
    </form>
    <br>
  </main>
<% include partials/footer %>